.section-reviews__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-reviews__name {
  display: flex;
  gap: 10px;

}

.section-reviews__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.section-reviews__count {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #888888;
}

.review__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}