.memory-configuration__button {
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 15px;
  border: 1px solid #888888;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  background-color: transparent;
  margin-right: 10px;

}

.memory-configuration__button:hover {
  background-color: #888888;
}

.memory-configuration__button:active {
  border: 2px solid #A93A09;
}

.memory-configuration__button_selected {
  border: 2px solid #F36223;
}
.memory-configuration__title {
  font-size: 16px;
  font-weight: 700;

}
.memory-configuration__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}