.product-color__color-selection-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 80px;
  height: 80px;
  border: 1px solid #888888;
  border-radius: 4px;
  background-color: transparent;
}

.product-color__color-selection-button:hover {
  background-color: #888888;
}

.product-color__color-selection-button:active {
  border: 2px solid #A93A09;
}

.product-color__color-selection-button_selected {
  border: 2px solid #F36223;
}
.product-color__title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
}
.product-color__color-selection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}