.favorit-counter {
  width: 26px;
  height: 20px;
  background: #f36223;
  border-radius: 50px;
  padding: 3px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #FFFFFF;
  position: absolute;
  left: 24px;
  top: 0px;
}