.review {
  display: flex;
}

.name {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.photo {
  height: 140px;
  width: 140px;
  margin-right: 30px;
}
.rating {
  margin-top: 10px;
}


.advantagesDisadvantages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.separator {
  box-sizing: border-box;
  height: 1px;
  border: 1px dashed #888888;
  margin: 0px 0px 0px 170px;

}
@media (max-width: 360px) {
  .photo {
    height: 60px;
    width: 60px;
    margin-right: 30px;
  }
  .separator {
    margin: 10px 0px 0px 10px;
  }
}