a {
  color: #008CF0;
  text-decoration: none;
}

.a_header {
  color: #000000;
}

a:hover {
  color: #F36223;
}

a:active {
  color: #A93A09;
}


.product-features__list {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.product-features__list-element::before {
  display: inline-block;
  content: " ";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #888888;
  vertical-align: middle;
  margin-right: 10px;
}

.product-features__title {
  margin: 0;
  font-size: 16px;
  margin-bottom: 15px;
}

.ad__iframe {
  border-color: #ccc;
  border-style: dashed;
  border-width: 1px;
  width: 420px;
  height: 300px;
}

.ad {
  color: #888888;
  font-size: 14px;
}

.first {
  max-width: 1500px;
  font-size: 18px;
  font: 1em sans-serif;
  margin: 0 auto;
  position: relative;

}

.contener {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 80px;


}

.section-reviews {
  max-width: 880px;
}


.header-up {
  width: 1500px;
  background-color: white;
  position: fixed;
 }

.header-all {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header__basket {
  height: 45px;
}

.header__basket-count {
  position: relative;
  top: -40px;
  right: -24px;
  height: 20px;
  width: 20px;
  background-color: #DA4A0C;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: #EEEEEE;
}

.header__basket-count.visible {
  display: block;
}

.header__title {
  font-weight: 700;
  font-size: 44px;
}

.header__title_color {
  color: #FF5722;
}

.name-smartfone {
  padding: 0px 0px 20px;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.foto-smartfone {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}

.all-characteristics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}

.box-characteristics {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description__title {
  margin: 0;
  font-size: 16px;
}

.description__element {
  margin: 0;
  font-weight: 500;
  font-size: 16px;

}

.price-block__button {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px 49px;
  width: 380px;
  height: 64px;
  background: #F36223;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border-style: none;

}

.price-block__button_gray {
  background: #888888;
}

.price-block__button:active {
  background: #A93A09 !important;
}

.price-block__button:hover {
  background: #DA4A0C;
}

.price-block__button::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(/public/images/basket.svg);
  background-repeat: no-repeat;
  background-position: center center;
}


.text-memory {
  width: 241px;
  height: 19px;
  margin-bottom: 15px;
}

.price-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  width: 420px;
  height: 275px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.price-block__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 132px;
  height: 73px;
}

.price-block__price-heart {
  display: flex;
  width: 380px;
  justify-content: space-between;
  align-items: flex-start;
}

.plice-block__heart {
  width: 45px;
  height: 35px;
  background: url(/public/images/heart.svg);
  background-repeat: no-repeat;
}

.plice-block__heart:hover {
  background: url(/public/images/heart-hover.svg);
  background-repeat: no-repeat;
}

.plice-block__heart:active {
  background: url(/public/images/heart-click.svg);
  background-repeat: no-repeat;
}

.price-block__old-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 123px;
  height: 24px;

}

.price-block__old-price-level {
  width: 66px;
  height: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #888888;
}

.price-block__discount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
  width: 47px;
  height: 24px;
  background: #F36223;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 500px;
}

.price-block__new-price {
  width: 132px;
  height: 39px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.price-block__delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 20px;
  gap: 10px;
  width: 380px;
  height: 68px;
}

.price-block__text-delivery {
  width: 380px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.footer {
  background-color: #F2F2F2;
}

.footer-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0px auto;
}

.footer-all__element-1 {
  font-size: 14px;
  padding: 30px 0px;
}

.comparison-of-models {
  margin-bottom: 50px;
}

.comparison-of-models__title {
  font-weight: 700;
  font-size: 16px;

}

.table {
  border: 1px solid #888888;
  border-collapse: collapse;
  width: 876px;
  margin-top: 15px;
}

.tbody {
  text-align: center;
}

.tbody tr:hover {
  background-color: #888888;
}

.tbody td {
  border-right: 1px solid #888888;
  height: 39px;

}

.thead th {
  border-right: 1px solid #888888;
  height: 39px;
  border-bottom: 1px solid #888888;
}

.add-review {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 710px;

}

.add-review__title {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 15px 0;
}

.add-review__name {
  width: 495px;
  height: 49px;
  border: 1px solid #888888;
  padding-left: 20px;

}

.add-review__name.new-border {
  border: 1px solid #DA4A0C;
}

.add-review__score {
  border: 1px solid #888888;
  padding-left: 20px;
  width: 175px;
  height: 49px;

}

.add-review__score.new-border {
  border: 1px solid #DA4A0C;
}

.add-review__button {
  padding: 0px 20px;
  width: 177px;
  height: 39px;
  background: #F36223;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  font-weight: 500
}

.add-review__button:active {
  background-color: #A93A09;
}

.first-line {
  display: flex;
  gap: 40px;
  max-width: 710px;
  position: relative;

}

.add-review__second-line {
  padding: 15px 20px;
  resize: none;
  width: 715px;
}

.add-review__name-error {
  display: none;
  background-color: #DA4A0C;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  width: 500px;
  height: 19px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 19px;
  vertical-align: middle;
  position: absolute;
  top: 50px;
}

.add-review__name-error_visible {
  display: block;
}

.add-review__score-error {
  display: none;
  background-color: #DA4A0C;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  width: 180px;
  height: 19px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 19px;
  vertical-align: middle;
  position: absolute;
  top: 50px;
}

.add-review__score-error_visible {
  display: block;
}

.box-add-review {
  padding-left: 170px;
  max-width: 880px;
  margin-top: 60px;
  margin-bottom: 100px;
}


@media (min-width: 1024px) and (max-width: 1500px) {
  .header-all {
    margin: 0 15px;
  }

  .comparison-of-models {
    display: none;
  }

  .contener {
    margin: 15px;
  }

  .foto-smartfone img {
    height: 272px;

  }

  .box-characteristics {
    gap: 40px;
  }

  .review__photo {
    width: 100px;
    height: 100px;
  }

  .review__rating {
    width: 100px;
    height: 20px;
  }

  .box-add-review {
    padding: 0;
  }

  .footer-all {
    margin: 0 15px;
  }
}

@media (width:360px)  {
  .comparison-of-models {
    display: none;
  }

  .ad {
    display: none;

  }

  .first {
    margin: 0 auto;
    width: 360px;

  }

  .contener {
    width: 350px;
  }

  .box-characteristics {
    flex-direction: column-reverse;

  }

  .foto-smartfone img {
    height: 272px;
  }


  .header__title {
    font-size: 32px;
  }

  .header-all {
    max-width: 360px;
    margin: 0 10px;
  }

  .header-all__wpapper-icons {
    gap: 0;
  }

  .header-up {
    max-width: 360px;
  }

  .price-block {
    width: 338px;

  }

  .price-block__price-heart {
    display: flex;
    width: 298px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .price-block__button {
    padding: 15px 49px;
    width: 298px;
    height: 54px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }

  .price-block__button::before {
    width: 16px;
    height: 16px;
  }

  .first-line {
    display: flex;
    flex-direction: column;
    gap: 15px;

  }

  .box-add-review {
    padding-left: 5px;
    max-width: 880px;
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .add-review__name {
    box-sizing: border-box;
    width: 335px;
    height: 37px;
  }

  .add-review__score {
    box-sizing: border-box;
    width: 335px;
    height: 37px;
  }

  .add-review__second-line {
    box-sizing: border-box;
    width: 335px;
    height: 190px;
  }
  .footer-all {
    
    display: flex;
    align-items: flex-start;
     max-width: 1400px;
    margin: 0px auto;
    flex-direction: column;
    gap: 20px;
    
}
.footer-all__element-1 {
  font-size: 14px;
  padding: 30px 10px 0px 10px;
}
.footer-all__element-2{
  padding-left: 10px;
}
}