/* .add-review__score-error {
  display: none;
  background-color: #DA4A0C;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  width: 180px;
  height: 19px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 19px;
  vertical-align: middle;
  position: absolute;
  top: 50px;
}

.add-review__score-error.visible {
  display: block;
} */
