.indexParagraph {
  margin: 0;
  text-align: center;
}

.first_index {
  display: flex;
  flex-direction: column;
}


.contener_index {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.wraperFoter {
  display: flex;
}